AZURE_MONITOR_CONNECTION_STRING="InstrumentationKey=<Instrumentation_Key>;IngestionEndpoint=https://<Ingestion_Endpoint>.in.applicationinsights.azure.com/;LiveEndpoint=https://<Azure_Region>.livediagnostics.monitor.azure.com/;ApplicationId=<Application_Id>"